@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0
}

p {
  line-height: 1.4;
}

.container {
  margin: auto;
  max-width: 960px;
  padding: 0 10px;
  width: 100%;
}

.section {
  margin: 3em 0;
}

.MuiGrid-container {
  margin: 0 -10px;
  width: auto !important;
}

.MuiGrid-item {
  padding: 10px;
}